@charset "utf-8";
/* SILSPA CSS */
body{
	background-color: #238676;
	margin:auto;
	font-family: Calibri, "Calibri Light";
}
section{
	min-height: 700px;
}
.margen{
	min-height: 600px;
}
.color1{
	background-color:white;
	color:#238676;
}
.color2{
	background-color:#238676;
}
.color3{
	color:#9F3603!important; 
	font-style: black;
}
.tfooter{
	text-align:center;
	color:#238676;
	background-color: white;
}
.centrar{
	text-align:center;
	margin:0px auto;
}
.botones{
	background-color:#238676;
	color: white;
	transition:1s;
}
.botones:hover{
	background-color: white;
	color:#238676;;
}
.botones2{
	background-color: #02584A;
	color: white;
	transition:1s;
}
.botones2:hover{
	background-color: white;
	color: #02584A;
}

.botonesinv{ 
	color:#238676;
	transition:1s;
}
.botonesinv:hover{
	background-color:#238676;
	color:white;
}
.botonesnav{
	color:#238676;
	transition:1s;
}
.botonesnav:hover{
	background-color: white;
	color:#235545;
}
.botonesnav:focus{
	color:#235545;
}
.perfilHover{
    color:white;
    transition-duration: 3s;
}
.perfilHover:hover{
    color:#235545;
    transition-duration: 3s;
}

.marcagua{
	background-image:url(../resources/img/mAgua.png);
}
.marcaguaA{
	background-image:url(../resources/img/mAguaA.png);
}
.marcaguaAd{
	background-image:url(../resources/img/mAguaAd.png);
}
.marcaguaP{
	background-image:url(../resources/img/mAguaP.png);
}

.fasdfasd{
	height:64px;width:64px;
}
.trans{
	opacity: 0.74;
	background-color:#3B9687;
	color: white;
}
.trans2{
	opacity: 0.93;
	background-color:white;
        color:#238676;
}
.trans3{
	opacity: 0.82;
        background-color:white;
	color: white;
}

.form-control:focus{
	border-color:#238676;
}
.btn:focus{
	outline: none;
}

label.error {
	color: #900;
	font-style: italic;
	margin: 1px;
}
input.error{
	background-color: #FEE;
	border-color: #933;
}
input.valid{
	background-color: #EFE;
	border-color: #393;
}

